{% extends 'base.html.twig' %}
{% block title %}Weather archive{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block help %}Click archive{% endblock %}
{% block body %}
    <div id="archive"></div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}