{% extends 'base.html.twig' %}
{% block title %}Current weather{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}
    <div id="root"></div>
{% endblock %}
{% block help %}Click on the map to read the weather.{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}